*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

