.nav {
    background: #8B6251;
}

.nav:first-child {
    margin-bottom: 160px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding: 56px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.nav__link {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: nowrap;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: #FFCA9A;
}


@media (max-width: 1440px) {
    .nav__list {
        padding: 50px 0;
    }

    .nav__link {
        font-size: 30px;
    }
}


@media (max-width: 1024px) {
    .nav__list {
        padding: 40px 0;
        gap: 15px;
    }

    .nav__link {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .nav__list {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        gap: 20px;
    }

    .nav__link {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .nav__list {
        padding: 20px 0;
        gap: 15px;
    }

    .nav__link {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .nav__list {
        padding: 15px 0;
        gap: 10px;
    }

    .nav__link {
        font-size: 16px;
    }
}
